@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
/* ### Primary */
--BrightBlue: hsl(220, 98%, 61%);
--CheckBackground: linear-gradient( hsl(192, 100%, 67%) to hsl(280, 87%, 65%));
}

[data-theme="light"] {
--bodyImg: url(/images/bg-desktop-light.jpg);
--bodyBg: hsl(0, 0%, 98%);
--VeryDarkDesaturatedBlue: hsl(0, 0%, 100%);
--VeryLightGrayishBlue: hsl(236, 33%, 92%);
--LightGrayishBlue: hsl(0, 0%, 8%);
--DarkGrayishBlue: hsl(236, 9%, 61%);
--VeryDarkGrayishBlue: hsl(240, 8%, 90%);
--boxShadow: 0 12px 30px rgba(0, 0, 0, .1);
--boxShodowDim: 0 8px 16px rgba(0, 0, 0, .06);
}

[data-theme="dark"] {
--bodyImg: url(/images/bg-desktop-dark.jpg);
--bodyBg: hsl(235, 21%, 11%);
--VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
--LightGrayishBlue: hsl(234, 39%, 85%);
--LightGrayishBlue: hsl(236, 33%, 92%);
--DarkGrayishBlue: hsl(234, 11%, 52%);
--VeryDarkGrayishBlue: hsl(233, 14%, 35%);
--boxShadow: 0 12px 30px rgba(0, 0, 0, 0.4);
--boxShodowDim: 0 8px 16px rgba(0, 0, 0, 0.2);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bodyBg);
  background-image: var(--bodyImg);
  background-repeat: no-repeat;
  background-size: 100% 35vh;
  padding-bottom: 120px;
}
.todo-app { 
    transform: translateY(60px);
}
.headings--pic {
    height: 1.4rem;
}
.toggleColors {
    background-color: transparent;
    border: none;
}
.inputBox {
    background-color: var(--VeryDarkDesaturatedBlue);
    margin-top: 18px;
}
.inputCheck {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid hsl(233, 11%, 84%);
    margin-right: 15px;
    cursor: pointer;
}
.check {
    position: relative;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 2px solid hsl(233, 11%, 84%);
    cursor: pointer;
}

.check:hover {
    border: 2px solid hsl(192, 100%, 67%);
}

.checked {
    background-image: url(/images/icon-check.svg), linear-gradient(to right,  hsl(192, 100%, 67%) ,  hsl(280, 87%, 65%));
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none;
}
.listCheck:checked ~ .check { 
border: none;
}
.listCheck:checked ~ .check > .checkMark {
    display:block;
}
.listCheck:checked ~ p { 
text-decoration: line-through;
color: var(--DarkGrayishBlue);
}
.inputData {
    color: var(--LightGrayishBlue);
    font-size: 18px;
}
.inputData:focus {
    outline: none;
}

.taskBox {
    background-color: var(--VeryDarkDesaturatedBlue);
    padding: 0 !important;
    box-shadow: var(--boxShadow);
}
.taskList {
    gap: 10px;
    color: var(--LightGrayishBlue);
}
.taskList:not(:first-child) {
    border-top: 1.6px solid var(--VeryDarkGrayishBlue);
}
.taskText {
    font-size: 18px;
    flex: 1;
}
.taskText--checked { 
    text-decoration: line-through;
    color: var(--DarkGrayishBlue);
}
.removeTask {
    margin-left: auto;
    width: 25px;
    display: none;
}

.taskList:hover .removeTask {
    display: block;
}

.removeTaskPic {
    transform: scale(.8);
}


.taskInfo {
    background-color: var(--VeryDarkDesaturatedBlue);
    color: var(--DarkGrayishBlue);
    box-shadow: var(--boxShadow);
}

.customText:nth-child(1) {
    color: var(--BrightBlue);
    cursor: pointer;
}
.customText:nth-child(2) {
    cursor: pointer;
}
.customText:nth-child(2):hover { 
    color: var(--LightGrayishBlue);
}

.clear {
    cursor: pointer;
}

.clear:hover {
    color: var(--LightGrayishBlue);
}
.taskInfoSub {
    background-color: var(--VeryDarkDesaturatedBlue);
    color: var(--DarkGrayishBlue);
    box-shadow:var(--boxShodowDim);
}
.bordertp {
    border-top: 1.6px solid var(--VeryDarkGrayishBlue);
}
@media only screen and (max-width: 576px) {
    body {
        background-image: url(/images/bg-mobile-dark.jpg);
    }

    .todo-app {
        max-width: calc(100% - 3rem);
        margin: 0 1.5rem;
    }

    .removeTask {
        margin-left: auto;
        width: 25px;
        display: block;
    }
}
